.item {
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-color: rgb(252, 210, 210);
  box-shadow: 10px 14px 39px -6px rgba(0, 0, 0, 0.51);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  width: 300px;
  padding: 10px 20px;
}
.status {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
}
.isOnline {
  background-color: #66ad58;
}

.isOffline {
  background-color: #ef5e56;
}
.avatar {
  width: 50px;
  padding: 10px;
  margin-right: 15px;
  border-radius: 5px;
  background-color: beige;
}
.name {
  font-weight: 500;
  font-size: 20px;
}
